header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 100;
    &-title {
      font-size: 16px;
      @media (max-width:1000px) {
        font-size: 12px;
      }
      @media(max-width:500px) {
        display: flex;
        flex-direction: column;
      }
      img {
        width: 140px;
        margin-right: 10px;
        position: relative;
        top: 5px;
        @media (max-width:1000px) {
          width: 100px;
        }
        @media(max-width:500px) {
          margin-bottom: 5px;
        }
      }
    }
    .header-btn {
      padding: 15px 50px;
      border-radius: 30px;
      color: white;
      font-size: 14px;
      position: relative;
      &:hover {
        background-color: #D94940;
        transition: .3s;
      }
      @media (max-width:1000px) {
        padding: 14px 40px;
        font-size: 12px;
      }
      @media (max-width:760px) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 10px;
        border-radius: 0;
      }
      .header-hide-txt {
        @media (max-width:760px) {
          display: none;
        }
      }
      .header-show-txt {
        display: none;
        @media (max-width:760px) {
          display: block;
          font-size: 10px;
          padding: 0 5px;
        }
      }
      .fa-file-alt {
        display: none;
        @media (max-width:760px) {
          display: block;
          font-size: 25px;
          margin-bottom: 10px;
        }
      }
    }
  }
  @media (max-width:1000px) {

  }
}
